In [15]:
#add magic matplotlib line to show graphs throughout
%matplotlib inline

#add dependencies
import pandas as pd
import matplotlib.pyplot as plt

#adding filepaths and cvs readers
ride_file_load = "Resources/ride_data.csv"
city_file_load = "Resources/city_data.csv"

ride_df = pd.read_csv(ride_file_load)
city_df = pd.read_csv(city_file_load)

city            object
driver_count     int64
type            object
dtype: object

In [27]:
#EXPLORING DATA AND MERGING DATAFRAMES

#finding null values
ride_df.count()
city_df.isnull().sum()

#looking at datatypes 
ride_df.dtypes
city_df.dtypes

#seeing numbers of types of cities
sum(city_df["type"]=="Urban")
city_df["type"].value_counts()

#merging dataframes because no missing values and all data types that need to be numerical are
city_ride_df = ride_df.merge(city_df, left_on="city", right_on="city")

city_ride_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2019-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2019-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2019-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2019-01-02 14:14:50,13.89,424254840012,5,Urban
...,...,...,...,...,...,...
2370,West Heather,2019-04-18 19:33:12,46.60,3671003215967,4,Rural
2371,West Heather,2019-03-02 21:04:10,20.99,5766454453070,4,Rural
2372,West Heather,2019-03-06 20:06:51,48.11,2570548892682,4,Rural
2373,West Heather,2019-02-02 06:28:04,53.07,2462950442268,4,Rural
2374,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural

In [ ]:
Create a bubble chart that showcases the average fare versus the total number of rides with bubble size based on the total number of drivers for each city type, including urban, suburban, and rural.
Determine the mean, median, and mode for the following:
The total number of rides for each city type.
The average fares for each city type.
The total number of drivers for each city type.
Create box-and-whisker plots that visualize each of the following to determine if there are any outliers:
The number of rides for each city type.
The fares for each city type.
The number of drivers for each city type.
Create a pie chart that visualizes each of the following data for each city type:
The percent of total fares.
The percent of total rides.
The percent of total drivers.